<!-- <?xml version="1.0"?>
Display the robot model in rviz.-->
<launch>
        <!-- args = "(pathname to follow) (traffic light  greenlight setting (True,False))" -->
	<!-- <node pkg="erp_py" type="mgeo_pub.py" name ="MGeo_Map" output="screen" />  -->
        <!-- <node pkg="erp_py" type="scen_config.py" name ="MORAI_set" output="screen" />  -->
        
        <!-- <arg name="rvizconfig" default="$(find erp42_vehicle_rviz)/rviz/model.rviz" /> -->

        <!-- <node pkg="erp_py" type="tmp.py" name="planner" args="multi-lane21 True" output="screen" /> -->

        <!-- Open rviz -->
        <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" /> -->
        <arg name="model" default="$(find erp42_vehicle_description)/urdf/erp42_vehicle.urdf.xacro"/>

        <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find erp_py)/rviz/planner.rviz" />

</launch>
